<div class="wrapper">
    <div class="background">
    </div>

    <div class="column-one">
        <p>reach me via email :
        </p>
        <a class="email-a" href="mailto:devanshusharma105@gmail.com">
            <p class="email">devanshusharma105@gmail.com</p>
        </a>
        <br>
        <p>also available here :</p>
        <div class="hero">
            <ul class="social-links">
                <li><a href="https://github.com/devanshu105/Movie-Review-App" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/devanshu-sharma105/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="tel:{{location.phoneNumber}}" target="_blank"><i class="fa fa-phone-square" aria-hidden="true"></i></a></li>
                
            </ul>
        </div>
        <div>
        </div>
    </div>
</div>